body{
  color: rgb(52, 235, 161); /*colour picker online*/
  font-family: verdana;
  margin: 0 auto;
  background-color: white
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(white);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(52, 235, 161);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(52, 235, 161);
  color: white;
}

h1 {
  text-align: center;
  font-size: 4em;
}


.image1{
  left: 45%;
  border-radius: 50px; /*higher radius gives cirvular image*/
  width="200px"
  height="200px"
}

.image2{

  border-radius: 50px; /*higher radius gives cirvular image*/
  width="200px"
  height="200px"
}

ul{list-style: none;
  padding: 0;
  margin-bottom: 0%;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
}

li#lower {
margin-top: 0%;
}
li#lowest {
margin-top: 0%;
}

ul {
list-style: none;
display: flex
}

li {
margin: 0 20px  /*spaces in list*/
}


li {
margin: 0 20px; /* 1 2 3 4 clockwise top side bottom side*/
transition: 0.6s ease;
}
li:hover { /*cursor event*/
font-size: 2em;
transition: 0.6s ease; /*visual effect*/
}
