body{
  color: rgb(52, 235, 161); /*colour picker online*/
  font-family: verdana;
  margin: 0 auto;
  background-color: white
}


.topnav {
  background-color: rgb(white);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(52, 235, 161);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(52, 235, 161);
  color: white;
}

h1 {
  text-align: left;
  font-size: 4em;
}
